$modal-lg-height: 34.8125rem;

.modal {
  .modal-dialog {
    max-width: 27.6875rem;
  }

  .modal-lg {
    max-width: 35.625rem;
  }

  .modal-sm {
    max-width: 24.375rem;

    .modal-content {
      text-align: center;

      .desc {
        line-height: 1.4;
      }

      .modal-header {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .modal-content {
    padding: 1.25rem;
    border: none;

    .desc {
      font-size: 1rem;
      font-weight: 400;
      color: #666;
      line-height: 1.3;
    }

    .modal-header {
      display: block;
      padding: 0 0 1rem;
      border-bottom: 1px solid rgba(221, 221, 221, 0.5);

      .modal-title {
        font-size: 1.125rem;
        font-weight: 700;
        color: #222;
      }

      .desc {
        margin-top: 1rem;

        ul {
          padding-left: 0.5rem;

          li {
            position: relative;
            padding-left: 1rem;

            &::before {
              content: '·';
              font-weight: 900;
              position: absolute;
              left: 0;
              color: #666;
            }
          }
        }
      }
    }

    .modal-body {
      padding: 1.125rem 0 0;

      .inputbox:not(:first-child) {
        margin-top: 1.125rem;
      }

      .btn-reset {
        display: block;
        margin-top: 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: #666;
        text-decoration: underline;
        text-align: right;
      }
    }

    .modal-footer {
      border-top: none;
      padding: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      flex-wrap: nowrap;
      padding-top: 1.875rem;

      > * {
        margin: 0;
      }

      .btns {
        width: 100%;
        height: 2.3125rem;
        font-size: 0.875rem;
        background-color: #fff;
        border: 1px solid #bababa;
        color: #222;

        &:last-child {
          background-color: #f63154;
          border: none;
          color: #fff;
        }
      }
    }
  }

  .inputbox {
    &.is-invalid {
      .invalid-feedback {
        display: block;
      }
    }
  }
}

.pop-wrap {
  .btns {
    width: auto;
  }
}

// 모바일상 팝업 문제 해결
.modal-backdrop.show {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
}


/*
* responsive
*/

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 599.98px) {
  .modal {
    .modal-lg {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

@media (max-width: 576.98px) {
  .modal {
    .modal-dialog {
      margin-right: auto;
      margin-left: auto;
    }

    .modal-lg {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

@media (max-width: 476.98px) {
  .modal {
    .modal-dialog {
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .modal-sm {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: 419.98px) {
  .modal {
    .modal-dialog {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}
